# The user that gets all the mails (UID < 1000, usually the admin)
root={{ .Env.SMTP_ROOT_ADDRESS }}

# The mail server (where the mail is sent to), both port 465 or 587 should be acceptable
# See also http://mail.google.com/support/bin/answer.py?answer=78799
mailhub={{ .Env.SMTP_HOST }}

# The address where the mail appears to come from for user authentication.
rewriteDomain={{ .Env.REWRITE_DOMAIN }}

# The full hostname
hostname={{ .Env.FQDN }}

# Use SSL/TLS before starting negotiation
UseTLS={{ .Env.USE_TLS }}
UseSTARTTLS={{ .Env.USE_START_TLS }}

# Email 'From header's can override the default domain?
FromLineOverride={{ .Env.FROM_LINE_OVERRIDE }}

# Auth
AuthUser={{ .Env.AUTH_USER }}
AuthPass={{ .Env.AUTH_PASS }}
AuthMethod={{ .Env.AUTH_METHOD }}
